@{
    ViewData["Title"] = "Home Page";
}
@model List<bilinfo> 

   
    <div class="header">
        <div class="row">
            <div class="col">
                
            <img class="logga" src="bilder/skauto_loga.png">
            </div>
            <div class="col">
            <div class="ms-6 verdera"> <a asp-action="index" asp-controller="verdera"> <p class="lenkbort">Värdera din bil</a></p></div>
            </div>
            <div class="col">

            <div class="ms-1 selj"> <a asp-action="Index"  asp-controller="Login"><p class="lenkbort">Sälj din bil</a></p></div>
            </div>
        </div>
    </div>

<div class="annons"> <img class="annonsbild" src="/bilder/annons.jpeg"></div>



    @foreach(bilinfo bi in Model){

    <div class="inlagg">


    <div> <img class="bild" src="upload/@bi.FilNamn"></div>

        <div class="info">
            <ul>
                <li>Märke: @bi.Märke</li>
                <li>Årsmodell: @bi.Årsmodell</li>
                <li>Växellåda: @bi.Växellåda</li>
                <li>Hästkrafter: @bi.Hästkrafter</li>
                <li>Mil: @bi.Mil</li>
                <li>Plats: @bi.Plats</li>
            <br>
                <li>pris: @bi.Pris kr</li>             
            </ul>
        </div>
    <a asp-action="Index" asp-controller="buy" asp-route-id="@bi.id">
        <span class="link"></span>
    </a>
    </div>
    }



<div class="annons"> <img class="annonsbild" src="/bilder/annons2.jpeg"></div>

   <div class="inlagg">
