@model bilinfo

<body>

    <div class="rubrikloggin2 row">
        <p class="rubrik">Titel på annons</p>

       

    </div>

    <div class="bil">
        <div class="bildinlegg">

            <img class="bild" src="upload/FilNamn">
        </div>
        <div class="form">
        <div class="info2">
            <ul>
                <li>Märke: @Model.Märke</li>
                <br />
                <li>Årsmodell: @Model.Årsmodell</li>
                    <br />
                <li>Växellåda: @Model.Växellåda</li>
                    <br />
                <li>Hästkrafter: @Model.Hästkrafter</li>
                    <br />
                <li>Mil: @Model.Mil</li>
                    <br />
                <li>Plats: @Model.Plats</li>
                <br>
                    <br />
                <li>Pris: @Model.Pris Kr</li>
                <br />
               
            </ul>
        </div>
    </div>
    </div>
    <div class="egentext"> Beskrivning i egna ord om bilen</div>

    <div class="rubrikloggin row">

        <p class="rubrik">Kontakta Jhonny</p>

    </div>

</body>





