@model bilinfo

<body>

    <div class="rubrikloggin2 row">
        <p class="rubrik">Titel på annons</p>

       <i class='fas fa-arrow-circle-left'></i>

       

    </div>

    <div class="bil">
        <div class="bildinlegg">
            bilder
        </div>
        <div class="form">Formulär</div>
        <div class="info">
            <ul>
                <li>Märke: @Model.Märke</li>
                <li>Årsmodell: @Model.Årsmodell</li>
                <li>Växellåda: @Model.Växellåda</li>
                <li>Hästkrafter: @Model.Hästkrafter</li>
                <li>Mil: @Model.Mil</li>
                <li>Plats: @Model.Plats</li>
                <br>
                <li>@Model.Pris</li>
            </ul>
        </div>
    </div>
    <div class="egentext"> Beskrivning i egna ord om bilen</div>

    <div class="rubrikloggin row">

        <p class="rubrik">Kontakta Jhonny</p>

    </div>

</body>





